
/* Path: src/styles/app.css */
/* .homepage {
    background: linear-gradient(90deg, #700CC2 0%, #9036D9 100%);
    border: none;
    width: 33600px;
    height: 50px;
    border-radius: 6px;
    left: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}
.main {
    position: absolute;
    bottom: 0;
    background: rgb(242, 231, 255);
    width: 100%;
    height: 70%;
    border-radius: 30px;
    padding: 30px;
  }
  
  
  .mainheading {
    font-size: 20px;
    font-weight: bold;
    color: rgb(22, 22, 22);
  } */